<div fxLayout="column" >

   <div  fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center" fxFlex >

    
    
      <mat-button-toggle-group appearance="legacy" (value)="active_filter" [(ngModel)]="active_filter" (ngModelChange)="onActiveFilterChange()">
        <mat-button-toggle value="1">Active</mat-button-toggle>
        <mat-button-toggle value="0">Inactive</mat-button-toggle>
        <mat-button-toggle value="both" >Both</mat-button-toggle>
      </mat-button-toggle-group>
   
    
    
        <mat-form-field appearance="outline" class="quantiam-material-db-search-bar">
          <!--   <span matPrefix>+1 &nbsp;</span> -->
            <input type="text" matInput (keyup)="onFilterChanged()"  [(ngModel)]="searchBarValue"  placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
     
   
    </div>

        <ag-grid-angular  
        style="width: calc(100%); height:calc(60vh); margin-top:10px;" 
        class="ag-theme-balham"  
        
        [enableCellTextSelection]="true"
        
        [rowData]="rowData" 
        [columnDefs]="columnDefs"  
        [gridOptions]="gridOptions"
         
        (gridReady)="onGridReady($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
       
        [enableRangeSelection]="true"        
        [defaultColDef]="defaultColDef"
        
        >
    </ag-grid-angular>
      
</div>