

<div *ngIf="steelObject">

  <h2 fxLayout="row" fxLayoutGap="10px">
    <small> QMIS-{{steelObject.id}}</small> 
    <div>{{steelObject.heat_id}} </div> 
    <div *ngIf="steelObject.cut">C{{steelObject.cut}}</div> 
    <div *ngIf="steelObject.rework">R{{steelObject.rework}}</div> 
    <small *ngIf="steelObject.steel_type">{{steelObject.steel_type.part_name}}</small> 
  
    
  </h2>

  <div fxLayout="row" FxFlex fxLayoutGap="10px">


    <div id="Steel Properties" fxFlex>

        <table class="table">
          <thead>
            <tr >
              <th >Property</th>
              <th >Value</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let steel of steelObject.steel_type | keyvalue">
              <td>{{steel.key}}</td>
              <td>{{steel.value}}</td>
              
            </tr>
          </tbody>
      </table>



    </div>


    <div id="Process History" fxFlex>

      <table class="table">
          <thead>
            <tr>
              <th>Process Type</th>
              <th>Process Name</th>
              <th>Process Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let steelHistory of steelProcessHistory" 
            >
              <td>{{steelHistory.process_type}}</td>
              <td><button type="button" class="btn btn-primary btn-xs" (click)="navigateToProcess(steelHistory)">{{steelHistory.process_name}} </button></td>
              <td>{{steelHistory.process_date}}</td>
              
              
            </tr>
          </tbody>
      </table>


      
      <table *ngIf="steelObject.reworks.length > 0" class="table">
        <thead>
          <tr>
            <th>Rework Step Occurance</th>
            <th>Rework Reason</th>
            <th>Rework Date</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rework of steelObject.reworks">
            <td>{{rework.process.process_name}}</td>
            <td>{{rework.rework_reason.name}}</td>
            <td>{{rework.created_at}}</td>
            <td>{{rework.comment}}</td>
            
          </tr>
        </tbody>
    </table>


    </div>






  </div>
</div>
<!--  

Received Summary

Hold/Rework/Fail



-->
