

<ng-select 	
[items]="allItems"
[style]="style"
[(ngModel)]="selectedValue"
[placeholder]="placeholder"
[multiple]="multiple"
[clearable]="clearable"
(change)="onChange($event)"
(clear)="onClear($event)"
bindLabel="campaign_name"
bindValue="campaign_id"
>

<ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm" >
			
					
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
            <div style="min-width:20px; font-size:10px;" ><b>{{item.campaign_id}}</b></div>
            <div style="min-width:220px; font-size:12px;"  [ngOptionHighlight]="search"> {{item.campaign_name}}</div>
            <div style="padding:2px;"  fxLayoutAlign="end center">
                <div  *ngIf="item.campaign_active"><button class="btn-xs btn btn-success" >Active</button> </div>
               <div   *ngIf="!item.campaign_active"><button class="btn-xs btn btn-light" >Inactive</button></div>
           </div>
        </div>
       
            
      
    


</ng-template>

</ng-select>