<nav mat-tab-nav-bar mat-stretch-tabs="false" [tabPanel]="timesheetSettingstabPanel" >
    
    <a mat-tab-link *ngIf="userService.hasPermission(24)" routerLink="project" routerLinkActive="mat-tab-link-active"> Projects </a>
    <a mat-tab-link *ngIf="userService.hasPermission(18)" routerLink="machines" routerLinkActive="mat-tab-link-active"> Machines </a>
    <a mat-tab-link *ngIf="userService.hasPermission(25)" routerLink="holiday" routerLinkActive="mat-tab-link-active"> Holidays </a>
    <a mat-tab-link *ngIf="userService.hasPermission(37)" routerLink="rto-allocation" routerLinkActive="mat-tab-link-active"> RTO Allocation </a>
    
    
    
    

</nav>
    
<mat-tab-nav-panel class="padding" #timesheetSettingstabPanel>
    <router-outlet ></router-outlet>
</mat-tab-nav-panel>

