
<div ></div>


<div fxLayout="row" >
    
   <!--  <h2> SiLT 2023 Campaign </h2> -->

</div>


<div fxLayout="row" id="Summary Region"  >
    

    <div  fxLayout="column"  >

        <highcharts-chart 
        [Highcharts]="Highcharts"
    
        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"
    
        [(update)]="updateFlag"
        [oneToOne]="oneToOneFlag"
        [runOutsideAngular]="runOutsideAngular"
    
        style="width: 100%; height: 500px; display: block;"
        ></highcharts-chart>

        <div >
            <app-reworks></app-reworks>
        </div>
        

    </div>

    <div>
        <!--- part by part breakdown ? -->
        <app-throughput></app-throughput>
    </div>

    <div>
           <!--  <app-total-progress></app-total-progress> -->
    </div>




</div>


    


