
<div ></div>


<div fxLayout="row">
    
<h2> SiLT 2023 Campaign </h2>

</div>


<div fxLayout="row" id="Summary Region">
    


    <div> Produced Tubes </div>


    


</div>
    







<div fxLayout="row" id="Unit Op">
    <nav mat-tab-nav-bar>
        <!-- <a mat-tab-link routerLink="database" routerLinkActive="mat-tab-link-active"> Materials </a>-->
        
        <a mat-tab-link  > Receiving </a>	
        <a mat-tab-link  > Honing </a>	
        <a mat-tab-link  > Slip  </a>	
        <a mat-tab-link  > Slip Cast </a>	
        <a mat-tab-link  > Debind </a>	
        <a mat-tab-link  > Consol </a>	
        <a mat-tab-link  > Post Fnish </a>	
        <a mat-tab-link  > Oxide Generation </a>	
        <a mat-tab-link  > Final </a>	
        
    
        
        
    </nav>
</div>