

<div fxLayout="row" >
    
   <!--  <h2> SiLT 2023 Campaign </h2> -->

</div>


<div fxLayout="row" id="Summary Region" fxLayoutGap="30px" fxFill >
    

    <div  fxLayout="column"  fxLayoutGap="15px">

        <highcharts-chart 
        [Highcharts]="Highcharts"
    
        [constructorType]="chartConstructor"
        [options]="chartOptions"
        [callbackFunction]="chartCallback"
    
        [(update)]="updateFlag"
        [oneToOne]="oneToOneFlag"
        [runOutsideAngular]="runOutsideAngular"
    
        style="width: 100%; height: 400px; display: block; min-width: 600px;"
        ></highcharts-chart>

        <div >
                <!--- steel tube statuses -->
            <div>
                <div  class="remove-scrollbar" style="overflow:auto; max-width: 600px; max-height: 400px;">
                    <table  class="table" fxFlex  >
                        <thead class="sticky-header">
                            <tr>
                            
                                <th>Steel Name</th>
                                <th>Type</th>
                                <th>Last Known Status</th>
                               <!--  <th>Updated</th> -->
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let steel of producedSteelResponseObject.steel">
                                
                                <td >
                                    <button type="button" class="btn btn-info btn-xs" style="color:white;" routerLink="/steel/{{steel.id}}" fxLayout="row" fxLayoutGap="5px">
                                        <div> {{steel.heat_id}} </div> 
                                        <div *ngIf="steel.cut">C{{steel.cut}}</div> 
                                        </button>
                                </td>
                                <td>{{steel.steel_type.part_name}}</td>
                                <td>{{steel.last_known_process_status}}</td>
                              <!--   <td style="font-size:11px;">{{steel.updated_at}}</td> -->
                            
                                
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>


        </div>
        

    </div>

    <div>
        <!--- part by part breakdown ? -->
        <app-throughput></app-throughput>


    </div>

    <div>
           <!--  <app-total-progress></app-total-progress> -->
    </div>




</div>


    


