<div *ngIf="renderCampaignReworks">

    <h2 fxLayout="row" fxLayoutGap="10px"> <div>Reworks</div> <small>({{campaignReworks.length}})</small>    </h2>
    <div style="overflow:auto;  max-height: 300px;" class="remove-scrollbar">
    <table  class="table" fxFlex  >
        <thead class="sticky-header">
            <tr>
            
                <th>Steel</th>
                <th>Process</th>
            
                <th>Comment</th>
                <th>Occured</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rework of campaignReworks">
                
                <td >
                    <button type="button" class="btn btn-info btn-xs" style="color:white;" routerLink="/steel/{{rework.steel_id}}" fxLayout="row" fxLayoutGap="5px">
                        <div> {{rework.steel.heat_id}} </div> 
                        <div *ngIf="rework.steel.cut">C{{rework.steel.cut}}</div> 
                        </button>
                </td>
                <td>{{rework.process.process_name}}</td>
      
                <td><p style="font-size:10px;">{{rework.comment}}</p></td>
                <td style="font-size:11px;">{{rework.created_at}}</td>
            <!--  <td><button type="button" class="btn btn-primary btn-xs" (click)="navigateToProcess(unitOperation)">{{unitOperation.process_name}} </button></td> -->
            
                
            </tr>
        </tbody>
    </table>
    </div>
</div>