<div fxLayout="column" fxFlex fxLayoutGap="10px">

        <div id="topline" fxFlex  fxLayout="row" fxLayoutAlign="start center"> <!-- header row -->
                <h2 style="margin: 0px 10px 0px 0px !important">{{runID}} </h2> 

                <button style="margin-right:10px" mat-raised-button class="mat-small"  
                routerLink="/material/container/{{particleSizeRun.container_id}}" 
                *ngIf="particleSizeRun?.container_id" color="accent"> QCID-{{ particleSizeRun?.container.qcid   }} </button>
                
               <!--  <p>{{particleSizeRun.created_at}} </p> -->
                <h3 style="margin: 0px 10px 0px 0px !important"> {{particleSizeRun?.name}} </h3>
                
   
        </div>

        <div fxFlex  fxLayout="row" fxLayoutGap="10px">
                
                
                <div fxLayout="column" fxFlex fxLayoutGap="20px" fxLayoutAlign="center center">
                        <h2> Collected Mastersizer Run Data</h2>   
                        <div *ngIf="noMeasurements" class="alert alert-danger" role="alert">
                                We couldn't retrieve the data for this run, the CSV file may not be saved correctly.
                              </div>
                        
                        <div>

                                <jqxDataTable  *ngIf="!noMeasurements"
                                [width]="600"
                                [source]="dataAdapter" [columns]="columns"
                                [selectionMode]="'multipleextended'" ></jqxDataTable>


                        </div>

                        <div id="material_history" *ngIf="particleSizeRun?.container_id">

                                <highcharts-chart [Highcharts]="Highcharts" [options]="masterSizerHistoryChartOptions" 
                                [(update)]="updateMaterialhistoryFlag"></highcharts-chart>
                              
        
                        </div>
                               
                        
                </div>

      
                <div fxLayout="column" fxFlex>

                        <div style="height:100%" >
                                <iframe allowfullscreen  id="iframe" type="application/pdf"  
                                [src]="safeurl"
                                fxFlex>
                                </iframe>
                        </div>
                      
                  
                    
                <!--         <p> INteractive graph here, button for PDF</p> -->
                        <!-- data -->

                      
                        

                      <!--   <svg id="linechart"></svg> -->
                </div>
                
                <!--- graph  of the data -->

                
        </div>
</div>




<!-- material Info, sister containers  -->




<!---  Table with Data -->




<!--  Graph -->

<!--- PDF option -->

<!--- related info from sister containers -->

<!--- control chart for material ID  -->


<!--- related info from sister containers -->

<!--- 

- view particle size info 
- compare with sister containers in a control chart
- container info 

-->