<nav mat-tab-nav-bar mat-stretch-tabs="false">
			<!-- <a mat-tab-link routerLink="database" routerLinkActive="mat-tab-link-active"> Materials </a>-->
			
			<a mat-tab-link  routerLink="database" routerLinkActive="mat-tab-link-active"> User Database </a>	
			
			<a mat-tab-link *ngIf="selectedUser" [routerLink]="['/user',selectedUser.id]" routerLinkActive="mat-tab-link-active"> 
				{{selectedUser.name}}
			</a> 
			
			
		</nav>
			
<mat-tab-nav-panel class="tab-content">
		<router-outlet ></router-outlet>
</mat-tab-nav-panel>
		   